.content-add-reminder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .backgroud-dialog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .dialog {
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    .dialog-title {
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--color-primary);
      .remove {
        span {
          position: absolute;
          top: 5px;
          right: 10px;
          font-size: 1.5rem;
          color: red;
          cursor: pointer;
        }
        img {
          cursor: pointer;
          height: 20px;
          width: 20px;
          filter: brightness(0) saturate(100%) invert(62%) sepia(100%)
            saturate(7398%) hue-rotate(351deg) brightness(90%) contrast(142%);
        }
      }
    }
    .timeAndColor {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
      .time {
        width: 100%;
      }
      .color {
        width: 100%;
        display: flex;
        justify-content: center;
        input {
          border-radius: 50%;
          height: 60px;
          width: 60px;
          border: none;
          outline: none;
          -webkit-appearance: none;
        }
        input::-webkit-color-swatch {
          border: none;
          border-radius: 50%;
        }
      }
    }
    .buttonAdd {
      margin-top: 15px;
      background-color: transparent;
      padding: 5px;
      border: 2px solid var(--color-primary);
      border-radius: 10px;
      color: var(--color-primary);
      cursor: pointer;
    }
    .buttonAdd:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
