.content-month {
  max-height: 100%;
  max-width: 100%;
  min-width: 360px;
  padding: 15px;
  .grid-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 1px;
    .week-day {
      background-color: var(--color-primary);
      color: var(--color-seccondary);
      text-align: center;
    }
    .prev-day {
      height: 130px;
      border: 2px solid var(--color-medium);
      opacity: 0.3;
      padding: 0 5px;
      .day-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        span {
          font-weight: 600;
        }
      }
    }
    .day {
      height: 130px;
      min-width: 100px;
      border: 2px solid var(--color-medium);
      padding: 0 5px;
      position: relative;
      .day-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        span {
          font-weight: 600;
        }
        button {
          border: 1px solid var(--color-primary);
          color: var(--color-primary);
          font-size: 1.3rem;
          font-weight: 600;
          background-color: transparent;
          cursor: pointer;
          border-radius: 50%;
          visibility: hidden;
        }
        button:hover {
          background-color: var(--color-primary) !important;
          color: var(--color-seccondary) !important;
          transform: scale(1.2);
          transition: 200ms;
        }
      }
      .reminders {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .reminder {
          width: 90%;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          margin-bottom: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -webkit-box-orient: vertical;
          font-size: 1rem;
          font-weight: 500;
        }
        .reminder:hover {
          opacity: 0.9;
          transform: scale(1.05);
          transition: 200ms;
        }
        .more-reminders {
          width: 50px;
          border-radius: 10px;
          background-color: var(--color-primary) !important;
          color: var(--color-seccondary) !important;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .more-reminders:hover {
          background-color: var(--color-seccondary) !important;
          color: var(--color-primary) !important;
          transform: scale(1.05);
          transition: 200ms;
        }
      }
      .reminders-mobile {
        position: absolute;
        bottom: 10px;
        display: none;
        left: 25%;
        width: 30px;
        height: 10px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--color-seccondary) !important;
        cursor: pointer;
        .more-reminders{
          margin-bottom: 5px;
        }
      }
      .reminders-mobile:hover {
        background-color: var(--color-seccondary) !important;
        color: var(--color-primary) !important;
        transform: scale(1.05);
        transition: 200ms;
      }
    }
    .day:hover {
      .day-header {
        button {
          visibility: visible;
          
        }button:hover{
          background: none !important;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .content-month{
    padding: 5px !important;
  }
  .day {
    min-width: 30px !important;
    height: 70px !important;
  }
  .prev-day {
    min-width: 30px !important;
    height: 70px !important;
  }
  .d-none {
    display: none !important;
  }
  .reminders-mobile {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .day-header{
    flex-direction: column;
    align-items: center;
    button{
      border: none !important;
      margin-right: 5px;
    }
  }
}
