.header{
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 15px;
  border-radius: 0 0 10px 10px;
  button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--color-seccondary);
    cursor: pointer;
  }
}
